ul{
    list-style-position: inside;
}
body {
    background-color:  ;
}
.button{
    touch-action: manipulation;
    padding: 32px 16px;
    font-size: 32px;
    width: 20%;
}

.smallishbutton{
    width: 20%;
}

.value {
    font-size: 20px;
}